<div id="error_explanation">
  <h2>Errors prohibited this form from being saved:</h2>

  <ul> 
    <% controller.instance_variable_names.each do |var| %>
      <% if eval(var).is_a?(ActiveRecord::Base) && eval(var).errors.is_a?(ActiveModel::Errors) %>
        <% eval(var).errors.full_messages.each do |msg| %>
          <li><%= eval(var).class.name + ": " + msg %></li>
        <% end %>
      <% end %> 
    <% end %>   
  </ul> 
</div>

