<div class='multipart_form_breadcrumb'>
  <% if ActsAsMultipartForm.config.show_previous_next_links %>
    <div class='multipart_form_breadcrumb_previous'>
      <%= link_to "Previous", send(@multipart_form_path, :id => @form_subject.id, :multipart_form_part => @previous_multipart_form_part ) %>
    </div>
  <% end %>
  <div class='multipart_form_breadcrumb_parts'>
    <% @available_multipart_form_parts.each_pair do |part, part_name| %>
        <% if part.to_s != @multipart_form_part.to_s %>
          <%= link_to part.to_s.titleize, send(@multipart_form_path, :id => @form_subject.id, :multipart_form_part => part) %>
        <% else %>
          <%= part.to_s.titleize %>
        <% end %>
    <% end %>
  </div>
  <% if ActsAsMultipartForm.config.show_previous_next_links %>
    <div class='multipart_form_breadcrumb_next'>
      <%= link_to "Next", send(@multipart_form_path, :id => @form_subject.id, :multipart_form_part => @next_multipart_form_part ) %>
    </div>
  <% end %>
</div>
