<p>
  This is the hire form view
</p>

<%= form_for @person, :url => person_hire_person_path(@person, @next_multipart_form_part), :html => {:method => :post} do |f| %>
  <%= render @multipart_form_part %>
  <%= f.submit %>
<% end %>
